#postgres database details
db_username = your_username
db_password = your_password
DB_HOST = "db" 
# for docker, use "db" as the hostname; 
# for local development, it by default takes "localhost" from the code if DB_HOST is not set in environment variables.